{% extends 'base.html.twig' %}

{% block title %}Availability index{% endblock %}

{% block body %}
    <h1>Disponibilités</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Prix/jour</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for availability in availabilities %}
            <tr>
                <td>{{ availability.id }}</td>
                <td>{{ availability.startDate ? availability.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ availability.endDate ? availability.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ availability.pricePerDay }}€</td>
                <td>{{ availability.status }}</td>
                <td>
                    <a href="{{ path('app_availability_show', {'id': availability.id}) }}">Afficher</a>
                    <a href="{{ path('app_availability_edit', {'id': availability.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune disponibilité</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_availability_new') }}">Ajouter</a>
{% endblock %}
