{% extends 'base.html.twig' %}

{% block title %}Availability{% endblock %}

{% block body %}
    <h1>Détails</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ availability.id }}</td>
            </tr>
            <tr>
                <th>Début</th>
                <td>{{ availability.startDate ? availability.startDate|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ availability.endDate ? availability.endDate|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Prix/jour</th>
                <td>{{ availability.pricePerDay }}€</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ availability.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_availability_index') }}">Retour aux disponibilités</a>

    <a href="{{ path('app_availability_edit', {'id': availability.id}) }}">Modifier</a>

    {{ include('availability/_delete_form.html.twig') }}
{% endblock %}
