{% extends 'base.html.twig' %}

{% block title %}Vehicle index{% endblock %}

{% block body %}
    <h1>Liste des véhicules</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.id }}</td>
                <td>{{ vehicle.marque }}</td>
                <td>{{ vehicle.modele }}</td>
                <td>
                    <a href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}">Afficher</a>
                    <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun véhicule trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vehicle_new') }}">Ajouter un véhicule</a>
{% endblock %}
